@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  -black: #000000;
  --blue: #0062b2;
  --blueViolet: #8a2be2;
  --blueViolet-light: #dabdf7;
  --braun: #713d45;
  --braun-dark: #230901;
  --green: #2b8c69;
  --green-light: #1db954;
  --grey: #2b343b;
  --grey-dark: #192127;
  --grey-light: #7b7b7b;
  --grey-light-super: #ddd;
  --orange: #ff9f1a;
  --red: #ff0000;
  --red-light: #f56161;
  --red-dark: #ee0c4b;
  --tomato: #ff6347;
  --white: #fff;
}
body {
  font-family: 'Open+Sans', sans-serif;
}
#root {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-wrapper{
  width: 375px;
  height: auto;
  background-color: var(--red-dark);
  color: var(--white);
  padding: 8px;
display: flex;
flex-direction: column;
align-items: center;
}
.app-wrapper h1{
  font-weight: 500;
  margin: 16px 0;
}